# Workspace-level ignores
**/node_modules/
**/.next/
**/.turbo/
**/coverage/
**/.cache/
**/.firebase/
**/dist/
**/dist-custom-elements/
**/out/
**/www/
**/.stencil/
**/storybook-static/
diwa-components/storefront/public/stencil/
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
firebase-debug.log*
.DS_Store
Thumbs.db
